# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/
.python-version

# Distribution / packaging
dist/
build/
*.egg-info/
# Core auxiliary files
*.aux
*.log
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# Bibliography files
*.bbl
*.blg

CoordGeo/
main.pdf
RAAM_2026_Abstract_Template/
